/* Roboto font */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300);

/* Global resets */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2;
    color: #86939E;
    font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial';
    line-height: 1.4;
    font-size: 14px;
    font-weight: 100;
}

.btn-dxc {
    border-radius: 20px;
    -webkit-box-shadow: 1px 2px 5px rgba(136, 136, 136, 0.2);
    box-shadow: 1px 2px 5px rgba(136, 136, 136, 0.2);
}

.btn-dxc-o {
    border: none;
    background: transparent;
    font-size: 12px;
    font-weight: 400;
    text-align: right !important;
    margin-right: -13px;
}

button i {
    margin-right: 20px;
}

.title {
    margin: 0 auto;
    font-weight: 300;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #000;
}

.order-details {
    margin: 2em auto;
    text-align: center;
    max-width: 50em;
    height: 100%;
    /*background: #ffffff;
border-radius: 8px;
border: 1px solid #dad9d9;
-webkit-box-shadow: 1px 2px 5px rgba(136, 136, 136, 0.2);
box-shadow: 1px 2px 5px rgba(136, 136, 136, 0.2);*/
}

.order-details button i {
    display: none;
}

.order-details button .btn-text {
    display: block;
}

.order-details .orange {
    color: orange;
}

.order-details .red {
    color: red;
    font-size: 12px;
}

.order-details .default {
    color: #000;
    font-size: 12px;
}

.order-details .panel {
    border-radius: 7px;
}

.order-details .panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    border-radius: 7px 7px 0 0;
    padding: 10px 40px;
    font-size: 12px;
    font-weight: 400;
    color: #000;
}

.order-details .panel-body {
    padding: 10px 40px;
}

.order-details .panel-body .form-group {
    border-bottom: 1px solid #dad9d9;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    /* Hide HTML5 Up and Down arrows. */
}

.order-details .panel-body .form-group label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 100;
    padding-top: 8px;
}

.order-details .panel-body .form-group .form-control {
    border: none !important;
    border-radius: none !important;
    padding: 13px 0;
    font-size: 12px;
    font-weight: 100;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    color: #000;
}

.order-details .panel-body .last {
    border-bottom: none;
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
}

.order-details .panel-body .edit {
    padding-top: 8px;
    font-size: 12px;
    font-weight: 400;
}

@media screen and (max-width: 640px) {
    .order-details {
        max-width: calc(100vw - 40px);
    }
    .order-details button i {
        display: block;
    }
    .order-details button .btn-text {
        display: none;
    }
}
